mixin card-style-1
    .card.card--slide
        .card-img-top
            .thumb
                img
        .card-body
            .card-title CEO1
            .card-text 2000000 Đ
        .card-footer
            .slide

