footer.footer
    .container.footer__social
        .row
            .col-12.col-md-6

            .col-12.col-md-6

    .container.footer__bottom
        .row
            .col-12.col-md-7
                .container
                    .row
                        -
                            var navigation = [
                                {
                                    name : "Thương hiệu",
                                    items : [
                                        {name :"The Metro"},
                                        {name : "The city"}
                                    ]
                                },
                                {
                                    name: "Giới thiệu",
                                    items: [
                                        {name: "Về chúng tôi"}
                                    ]
                                },
                                {
                                    name: "Tải về",
                                    items: [
                                        {name: "Cataloge"}
                                    ]
                                },
                                {
                                    name: "Liên hệ",
                                    items :[]
                                },

                                    ]
                        each navi in navigation
                            .col-3
                                h5.list__title=navi.name
                                ul
                                    each i in navi.items
                                        li
                                            a(href="#")= i.name

            .col-12.col-md-5
                .subscribe
                    h4.subscribe__title
                    form
                        label Cập nhật thông tin mới nhấst về xu hướng văn phòng và sản phẩm từ chúng tôi
                        input(type="email")
                        button(type="submit") Gửi

    .container.footer__copy-right
        .row
            .col-12
                p Địa chỉ : Khu dân cư Tân Quy Đông , phường Tân Phong
                p Bản quyền thuộc về THE METRO
