header.header
    .container
        .row
            .col-12
                .d-flex.justify-content-between.align-items-center
                    h1.logo

                    div.header__contact
                        .block-phone
                            span  HN : <a href="">0833 400 068</a>
                            span  HN : <a href="">0833 400 068</a>
                            span  HN : <a href="">0833 400 068</a>
                        .block-lang
                        .block-search
                            form
                                input(type="search")

    .container
        .row
            .col-12
                include menu

