-
    var list = [
        {name: "Sản phẩm mới", path: "/product.html"},
        {name: "Bộ sưu tập", path: ""},
        {name: "Sản phẩm", path: ""},
        {name: "Tủ hồ sơ", path: "/profile.html"},
        {name: "Khuyến mãi", path: '/sale.html'},
        {name: "Phụ kiện", path: '/sale.html'},
        {name: "Tài Nguyên thiết kế", path: '/sale.html'},
        {name: "Về chúng tôi", path: '/sale.html'},
        {name: "Liên hệ ", path: '/sale.html'}
            ]
nav.nav.menu
    each item in list
        |
        |
        li.nav-item
            a.nav-link(href='#')= item.name
            .sub-menu
                .container-fluid
                    .row
                        .col-3
                            ul.level-1
                                li.nav-item
                                    a.nav-link(href='#') Desking Collection
                                li.nav-item
                                    a.nav-link(href='#') Media Unit
                                li.nav-item
                                    a.nav-link(href='#') Soft Seating
                                li.nav-item
                                    a.nav-link(href='#') Platinum Collection
                        .col-3
                            ul.level-1
                                li.nav-item
                                    a.nav-link(href='#') Coco
                                li.nav-item
                                    a.nav-link(href='#') Coco2
                        .col-6
