extends layouts/app

block content
    include components/card/card-box
    include components/card/card-style-1
    .container
        .row
            .col-12
                nav
                    #nav-tab.nav.nav-tabs(role='tablist')
                        a#nav-home-tab.nav-link.active(data-toggle='tab' href='#nav-best' role='tab' aria-controls='nav-home' aria-selected='true') Best Sellers
                        a#nav-profile-tab.nav-link(data-toggle='tab' href='#nav-table' role='tab' aria-controls='nav-profile' aria-selected='false') Sản phẩm bàn
                        a#nav-contact-tab.nav-link(data-toggle='tab' href='#nav-shell' role='tab' aria-controls='nav-contact' aria-selected='false') Sản phẩm tủ
                #nav-tabContent.tab-content
                    #nav-best.tab-pane.fade.show.active(role='tabpanel' aria-labelledby='nav-best-tab')
                        .container
                            .row
                                for i in [1, 2, 3, 4]
                                    .col-3
                                        +card-style-1()
                    #nav-table.tab-pane.fade(role='tabpanel' aria-labelledby='nav-table-tab')
                        .container
                            .row
                                for i in [1, 2, 3, 4]
                                    .col-3
                                        +card-style-1()
                    #nav-shell.tab-pane.fade(role='tabpanel' aria-labelledby='nav-shell-tab')
                        .container
                            .row
                                for i in [1, 2, 3, 4]
                                    .col-3
                                        +card-style-1()
        .row
            .col-4
                +card-box()
            .col-4
                +card-box()
            .col-4
                +card-box()







