doctype html
html(lang="en")
    head
        include page-head
    body
        include ../includes/header
        .container
            .row
                .col-12
                    block content
        include ../includes/footer
        include page-scripts
