meta(charset="UTF-8")
meta(name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0")
meta(http-equiv="X-UA-Compatible" content="ie=edge")
title HTML Starter Kit
//  build:css assets/css/combined.css
link(rel="stylesheet" href="css/bootstrap.min.css")
link(rel="stylesheet" href="css/styles.min.css")
//  endbuild

